* {
 box-sizing: border-box !important;
}

// Display

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 2rem;
}

// Position

.p-center {
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
}

// Width and Height

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.h-full {
  height: 100%;
}

// Text

//.t-spaced {
//  letter-spacing: 1px;
//}

.t-dotted {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark-lotti path {
  stroke: white;
}

//Cursor

.pointer {
  cursor: pointer;
}

//Small component

.small-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 8px;
  width: fit-content;
  color: white;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    border-color: grey;
    background: var(--v-sideBar-lighten1);
  }
}
//font

.v-text-field--outlined {
  border-radius: 8px;
  color: #3f3f3f;
  background-color: #ffffff;

  fieldset {
    opacity: .3;
  }
}

@font-face {
  font-family: 'Outfit';
  src: url(../../../src/assets/fonts/Outfit-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Outfit';
  src: url(../../../src/assets/fonts/Outfit-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Kodchasan';
  src: url(../../../src/assets/fonts/Kodchasan-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Satochi';
  src: url(../../../src/assets/fonts/Satoshi-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Satochi';
  src: url(../../../src/assets/fonts/Satoshi-Bold.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../../src/assets/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../../src/assets/fonts/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../../src/assets/fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

//@font-face {
//  font-family: 'Poppins';
//  src: url(../../../src/assets/fonts/Poppins-Bold.ttf) format("truetype");
//  font-weight: 700;
//}

#app, .v-application {
  font-family: Poppins, serif;
}

.row {
  margin: 0px !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

//@media (prefers-color-scheme: dark) {
//  body {
//    filter: invert(100%) hue-rotate(180deg);
//    background-color: rgb(29, 32, 31) !important;
//
//    * {
//      box-shadow: none !important;
//    }
//
//  }
//
//  img,
//  .astro-code,
//  .emoji,
//  .sideBar,
//  .v-overlay__scrim,
//  .contextMenu,
//  {
//    filter: invert(100%) hue-rotate(180deg) !important;
//    isolation: isolate;
//  }
//}



