// Display

.gap-1 {
  gap: 8px
}

.gap-2 {
  gap: 16px
}

// Position

.p-center {
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
}

// Width and Height

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.h-full {
  width: 100%;
}

// Text

.t-spaced {
  letter-spacing: 1px;
}

.t-dotted {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark-lotti path {
  stroke: white;
}

//Cursor

.pointer {
  cursor: pointer;
}

//Small component

.small-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 8px;
  width: fit-content;
  color: white;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    border-color: grey;
    background: var(--v-sideBar-lighten1);
  }
}
//font
@font-face {
  font-family: "gilroy";
  src: url(../../../src/assets/fonts/Gilroy-Medium.ttf) format("truetype");
}


